$primary_color: #878f99;
$secondary_color: #343333;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
  background-color: #101414;
}
